*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Arial';
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color: #5a7184;
	--main-color: #6e54fa;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}

header{
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logo {
	background-color: #1C2127;
	height: 60px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.logo-content {
	width: 60%;
}

.svg-burger{
	cursor: pointer;
	display: none;
}

.nav{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60px;
	width: 60%;
}

.nav-service {
	position: absolute;
	bottom: 3px;
}

.nav-service span{
	font-size: 12px;
	padding-bottom: 10px;
}

.nav-service span:nth-child(1){
	color: gray;
}

.nav-content{
	display: flex;
	align-items: center;
}

.nav-content a{
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 500;
	margin-right: 22px;
	border-radius: 4px;
	transition: ease .40s;
}

.nav-content li:nth-child(1){
	text-decoration: underline;
}

.nav-content a:hover{
	background: var(--bg-color);
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}

#menu-icon{
	color: var(--bg-color);
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 80px 16%;
}

.home{
	display: flex;
	width: 100%;
	height: 55vh;
	background: url(../img/banner.jpg);
	background-size: cover;
	background-position: center;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
	justify-content: center;
}

.home-text{
	width: 90%;
}

.home-text h1{
	font-size: 65px;
	line-height: 1.2;
	color: var(--bg-color);
	font-family: 'Paytone One', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.home-text p{
	color: var(--bg-color);
	font-size: 50px;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 15px;
}
.home-btn{
	display: inline-block;
	font-size: 16px;
	padding: 10px 20px;
	background: transparent;
	color: white;
	border: 2px solid white;
	transition: ease .40s;
}
.home-btn:hover{
	background: var(--bg-color);
	transform: scale(1.1);
}

.text h2{
	font-size: var(--h2-font);
	line-height: 1.1;
}

.title{
	text-align: center;
}

.title h2{
	font-size: var(--h2-font);
	line-height: 1.2;
}

.info {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.info-content{
	width: 90%;
	display: flex;
	grid-gap: 2rem;
	justify-content: space-between;
}

.col-content{
	display: flex;
	flex-direction: column;
	width: 350px;
}

.col-content img{
	width: 100%;
	height: 220px;
	object-fit: cover;
	filter: brightness(80%);
	transition: all .3s cubic-bezier(.495,.05,.55,.95);
	will-change: filter;
	margin-bottom: 10px;
}

.col-content p{
	font-size: 15px;
	color: black;
	left: 15px;
	bottom: 30px;
	letter-spacing: 2px;
	text-align: center;
}

.col-content img:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
	cursor: pointer;
}

.quote{
	background-color: #0E9DDC;
	width: 100%;
	display: flex;
	justify-content: center;
}

.quote-content{
	width: 90%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.quote-content p{
	text-align: center;
	font-size: 27px;
	color: white;
	margin-bottom: 10px;
}

.quote-content small{
	text-align: center;
	font-size: 17px;
	color: white;
}

#footer{
	display: flex;
	justify-content: center;
	background: #1C2127;
	width: 100%;
	padding-bottom: 15px;
	
}

.countries{
	margin-bottom: 20px;
}

.footer-content{
	display: flex;
	flex-direction: column;
	width: 80%;
}

.countries-list{
	color: white;
	display: flex;
}

.countries-list li{
	color: gray;
	display: flex;
	margin-right: 14px;
}

.countries-list li:nth-child(1){
	color: white;
}

.end-text {
	margin-bottom: 40px;
}
.end-text p{
	color: var(--bg-color);
	font-size: 14px;
	margin-bottom: 4px;
}

.end-logo {
	display: flex;
	width: 100%;
	justify-content: center;
}

#copyright{
	display: flex;
	justify-content: center;
	background-color: #555555;
	width: 100%;
	color: grey;
	padding-top: 20px;
	padding-bottom: 20px;
}

.copyright-main{
	display: flex;
	justify-content: space-between;
	width: 90%;
	gap: 10;
}

.copyright-info{
	width: 46%;
	font-size: 15px;
}

.mobile-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #1C2127;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.mobile-nav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.mobile-nav a:hover {
	color: #f1f1f1;
}

.mobile-nav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media (max-width: 1400px){
	section{
		transition: .2s;
	}
	:root{
		--big-font: 4.5rem;
		--h2-font: 2.3rem;
		--p-font: 1rem;
		transition: .2s;
	}
}

@media (max-width: 1100px){
	.mobile-nav {
		width: 0;
	}
	.logo-content {
		width: 80%;
	}
	#menu-icon{
		display: block;
	}
	.stick #menu-icon{
		color: var(--text-color);
	}
	.nav{
		display: none;
	}
	section{
		padding: 60px 3%;
		transition: .2s;
	}
	.navbar a{
		display: block;
		margin: 1.2rem 0;
	}
	.sticky .navbar a{
		color: var(--bg-color);
	}
	.navbar a:hover{
		color: var(--text-color);
	}
	.open{
		right: 0;
	}
	.list{
		width: 50%;
		margin-bottom: 12px;
	}
	.info-content{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.home-text h1{
		font-size: 37px;
	}
	.home-text p{
		font-size: 28px;
	}
	.home-btn{
		font-size: 12px;
		padding: 8px 17px;
	}
	.home{
		height: 50vh;
	}
	.col-content{
		width: 550px;
	}
	.col-content img{
		height: 400px;
	}
	.quote-content{
		width: 90%;
	}
	.quote-content p{
		font-size: 24px;
	}
	.quote-content small{
		font-size: 15px;
	}
	.svg-burger{
		display: block;
	}
}

@media (max-width: 1200px){
	.countries-list{
		flex-direction: column;
	}
	.countries-list li{
		margin-right: 0;
		margin-bottom: 5px;
	}
}

@media (max-width: 575px){
	.list{
		width: 100%;
	}
	.newsletter form{
		width: 350px;
	}
	:root{
		--big-font: 3.8rem;
		--h2-font: 1.8rem;
		transition: .2s;
	}
	.text{
		text-align: center;
	}
	section{
		padding: 40px 3%;
		transition: .2s;
	}
	.home{
		height: 85vh;
		transition: .2s;
	}
	.home-text h1{
		font-size: 20px;
	}
	.home-text p{
		font-size: 15px;
	}
	.home{
		height: 40vh;
	}
	.col-content{
		width: 100%;
	}
	.col-content img{
		height: 250px;
	}
	.quote-content p{
		font-size: 20px;
	}
	.quote-content small{
		font-size: 12px;
	}
	.copyright-main{
		flex-direction: column;
	}
	.copyright-info{
		width: 100%;
	}
	.copyright-info:nth-child(1){
		margin-bottom: 10px;
	}
	.mobile-nav {
		padding-top: 15px;
	}
	.mobile-nav a {
		font-size: 18px;
	}
}
